doctype html
html

  head

    title 1v1 Game

    link(href="stylesheets/jquery.contextmenu.css", rel="stylesheet")
    link(href="stylesheets/gameplay.css", rel="stylesheet")

    script(src="https://cdn.socket.io/socket.io-1.2.0.js")
    script(src='https://code.jquery.com/jquery-1.9.1.min.js')
    script(src="https://code.jquery.com/ui/1.11.4/jquery-ui.js")
    script(src="javascripts/gameplay.js")

    script.

      $(document).ready(function() {

        var client_io = io('/game1v1');
        window.g_client_io = client_io;
        window.g_username = '#{user.username}';

        initGlobals();
        setClientIOCallbacks();

        client_io.on('connect', function(data) {

          // extract the room id from the url and join that room
          var params = {};
          if (location.search) {
            var parts = location.search.substring(1).split('&');
            for (var i = 0; i < parts.length; i++) {
              var nv = parts[i].split('=');
              if (!nv[0]) continue;
              params[nv[0]] = nv[1] || true;
            }
          }
          
          // FIXME add error checking for if user.id is not found
          // FIXME add error checking for room id is not found
          client_io.emit('join_room', { userid: '#{user.id}',
                                        roomid: params.room });
        });

      });


  body

    div#window
      div#info_bar
        div#zoom_box.info_widget
        div#status_box

          table#phase_widget.info_widget
            tbody
              tr: td.bold_label(colspan=7) TURN PHASE
              tr.my_color
                td#phase_my_0 UNTAP
                td#phase_my_1 UPKEEP
                td#phase_my_2 DRAW
                td#phase_my_3 MAIN
                td#phase_my_4 COMBAT
                td#phase_my_5 MAIN2
                td#phase_my_6 END
              tr.opp_color
                td#phase_opp_0 UNTAP
                td#phase_opp_1 UPKEEP
                td#phase_opp_2 DRAW
                td#phase_opp_3 MAIN
                td#phase_opp_4 COMBAT
                td#phase_opp_5 MAIN2
                td#phase_opp_6 END
          table#status_widget.info_widget
            tbody
              tr
                td.bold_label LIFE
                td
                  input#life_val.control_button(type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57")
                  a#button_life_set.control_button(href="#") set
                td
                  a#button_life_inc.control_button(href="#") +
                  a#button_life_dec.control_button(href="#") -
                td.bold_label.my_color: div#my_life
                td.bold_label.opp_color: div#opp_life
              tr
                td.bold_label POISON
                td
                td
                  a#button_poison_inc.control_button(href="#") +
                  a#button_poison_dec.control_button(href="#") -
                td.bold_label.my_color: div#my_poison
                td.bold_label.opp_color: div#opp_poison
              tr
                td.bold_label LIBRARY
                td
                td
                td.bold_label.my_color: div#my_libsize
                td.bold_label.opp_color: div#opp_libsize

          table#control_widget.info_widget
            tbody
              tr
                td: a#button_untap.control_button.action_button(href="#") untap all
                td: a#button_shuffle.control_button.action_button(href="#") shuffle library
              tr
                td: a#button_draw.control_button.action_button(href="#") draw a card
                td: a#button_peek.control_button.action_button(href="#") peek top card
              tr
                td: a#button_flip_coin.control_button.action_button(href="#") flip a coin
                td: a#button_next_phase.control_button.action_button(href="#") end phase
              tr
                td: a#button_search.control_button.action_button(href="#") search library
                td
                  select.control_button
                    option(value=1) card 1
                    option(value=2) card 2
              tr
                td: a#button_create_token.control_button.action_button(href="#") create token
                td NAME 
                  input#token_name.control_button(type="text")

        div#chat_box.info_widget
          div#chat_messages
            ul#message_list
          div#chat_input
            form#message_form(action='')
              input#message_buffer(autocomplete='off')
              button#message_send_button(disabled) Send

      div#battlefield_wrapper
        div#opp_battlefield.battlefield.opp_color opp_battlefield
          div#opp_hand.opp_zone opp_hand
          div#opp_library.opp_zone opp_library
          div#opp_graveyard.opp_zone opp_graveyard
          div#opp_exile.opp_zone.opp_exile opp_exile
        div#my_battlefield.battlefield.my_color my_battlefield
          div#library.zone library
          div#graveyard.zone graveyard
          div#exile.zone exile
          div#hand.zone hand

