doctype html
html

  head

    title 1v1 Game

    link(href="stylesheets/jquery.contextmenu.css", rel="stylesheet")
    link(href="stylesheets/gameplay.css", rel="stylesheet")

    script(src="https://cdn.socket.io/socket.io-1.2.0.js")
    script(src='https://code.jquery.com/jquery-1.9.1.min.js')
    script(src="https://code.jquery.com/ui/1.11.4/jquery-ui.js")
    script(src="javascripts/gameplay.js")

    script.

      $(document).ready(function() {

        var client_io = io('/game1v1');
        window.g_client_io = client_io;

        initGlobals();
        setClientIOCallbacks();

        client_io.on('connect', function(data) {

          // extract the room id from the url and join that room
          var params = {};
          if (location.search) {
            var parts = location.search.substring(1).split('&');
            for (var i = 0; i < parts.length; i++) {
              var nv = parts[i].split('=');
              if (!nv[0]) continue;
              params[nv[0]] = nv[1] || true;
            }
          }
          
          // FIXME add error checking for if user.id is not found
          // FIXME add error checking for room id is not found
          client_io.emit('join_room', { userid: '#{user.id}',
                                        roomid: params.room });
        });

      });


  body

    div(id="window")
      div(id="info_bar")
        div(id="zoom_box"  class="info_widget")
        div(id="status_box")

          table(id="phase_widget" class="info_widget" align="center" width="100%")
            thead
            tbody
              tr(class="my_color"): td(colspan=7 align="center") me
              tr(class="my_color")
                td(id="phase_my_0" class="phase_label") UNTAP
                td(id="phase_my_1" class="phase_label phase_label_active") UPKEEP
                td(id="phase_my_2" class="phase_label") DRAW
                td(id="phase_my_3" class="phase_label") MAIN
                td(id="phase_my_4" class="phase_label") COMBAT
                td(id="phase_my_5" class="phase_label") MAIN2
                td(id="phase_my_6" class="phase_label") END
              tr(class="opp_color")
                td(id="phase_opp_0" class="phase_label") UNTAP
                td(id="phase_opp_1" class="phase_label") UPKEEP
                td(id="phase_opp_2" class="phase_label") DRAW
                td(id="phase_opp_3" class="phase_label") MAIN
                td(id="phase_opp_4" class="phase_label") COMBAT
                td(id="phase_opp_5" class="phase_label") MAIN2
                td(id="phase_opp_6" class="phase_label") END
              tr(class="opp_color"): td(colspan=7 align="center") opponent
          table(id="status_widget" class="info_widget" align="center" width="100%")
            thead
              tr
                th
                th
                th
                th(class="my_color") me
                th(class="opp_color") opp.
            tbody
              tr
                td LIFE
                td
                  input(id="life_val" class="control_button" type="text" size=1 onkeypress="return event.charCode >= 48 && event.charCode <= 57")
                  a(id="button_life_set" class="control_button", href="#") set
                td
                  a(id="button_life_inc" class="control_button", href="#") +
                  a(id="button_life_dec" class="control_button", href="#") -
                td(class="my_color"): div(id="my_life" align="center")
                td(class="opp_color"): div(id="opp_life" align="center")
              tr
                td POISON
                td
                td
                  a(id="button_poison_inc" class="control_button", href="#") +
                  a(id="button_poison_dec" class="control_button", href="#") -
                td(class="my_color"): div(id="my_poison" align="center")
                td(class="opp_color"): div(id="opp_poison" align="center")
              tr
                td LIBRARY
                td
                td
                td(class="my_color"): div(id="my_libsize" align="center")
                td(class="opp_color"): div(id="opp_libsize" align="center")

          table(id="control_widget" class="info_widget" align="center" width="100%")
            thead
            tbody
              tr
                td(colspan=7 align="center")
                  a(id="button_next_phase" class="control_button", href="#") +

        div(id="chat_box" class="info_widget")
      div(id="battlefield_wrapper")
        div(class="battlefield opp_color", id="opp_battlefield") opp_battlefield
          div(class="opp_zone", id="opp_hand") opp_hand
          div(class="opp_zone", id="opp_library") opp_library
          div(class="opp_zone", id="opp_graveyard") opp_graveyard
          div(class="opp_zone", id="opp_exile") opp_exile
        div(class="battlefield my_color", id="my_battlefield") my_battlefield
          div(class="zone", id="library") library
          div(class="zone", id="graveyard") graveyard
          div(class="zone", id="exile") exile
          div(class="zone", id="hand") hand
